<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Estimação de pose - PIBIC</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
  <div id="container">
    <header>
      <h1>Estimação de pose</h1>
    </header>

    <main>

      <h2>Descrição</h2>

      Sistema <em>web</em> para a identificação dos principais pontos de articulação em fotos de atletas.
      Possui como objetivo final a análise e monitoramento da pose de atletas de lançamento de dardo, para fins
      de correção da pose / postura.

      <h2>Exemplo de processamento</h2>

      Nesta ferramenta, o usuário envia uma foto de um atleta e recebe como resposta a foto anotada com
      os pontos de articulação identificados, possuindo também a ligação entre os pontos de forma a facilitar
      a visualização da postura do atleta. Como exemplo, quando enviamos a imagem da Figura 1, obtemos a imagem
      mostrada na Figura 2.

      <figure>
        <img src="{{url_for('static', filename='fig1.jpg')}}" alt="Figura 1">
        <figcaption>Figura 1 - Entrada</figcaption>
      </figure>

      <figure>
          <img src="{{url_for('static', filename='fig2.jpg')}}" alt="Figura 2">
          <figcaption>Figura 2 - Saída</figcaption>
        </figure>

      <h2>Processamento</h2>

      <form method="post" action="/enviar" enctype="multipart/form-data">
        Submeta uma imagem para obter os pontos de articulação do atleta.

        <p>
          <input id="arq" type="file" name="imagem" accept="image/*">
        </p>

        <p>
          <input type="submit" value="Enviar imagem">
        </p>
      </form>

      <p>
        Notas:
        <ol id="notas">
          <li>Existem limites para o tamanho da imagem de entrada.</li>
          <li>O contraste entre o atleta e o ambiente pode influenciar a eficiência da ferramenta.</li>
          <li>O algoritmo pode não funcionar com mais de uma pessoa por foto.</li>
        </ol>
    </main>


    <footer>
      <p>Instituto Federal de Mato Grosso do Sul - câmpus Aquidauana e Nova Andradina</p>
      <p><strong>Professores:</strong> Pablo Salomão e Lucas Negri. <strong>Estudantes:</strong> Victória e Guilherme
      </p>
    </footer>
  </div>
</body>

</html>